spring:
    datasource:
        url: jdbc:postgresql://db.lfvjoiwqvgvcvljfyngk.supabase.co:5432/postgres?sslmode=require
        username: usernameExample
        password: mypasswordExample

    jpa:
        hibernate:
            ddl-auto: update
        show-sql: true
        properties:
            hibernate:
                ddl-auto: update

server:
  port: 8080
